<h1>Iniciar Sesión</h1>
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Entrar</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}