<div class="p-5 text-center">
   <h1>Registrate!</h1>
   <form class="form-control" action="/auth/signup" method="POST" enctype="multipart/form-data">
      <label class="labelClass"> Ingrese su nombre completo
         <br>
         <input type="text" name="username" placeholder="Juanito Perez">
      </label>
      <br>
      <label class="labelClass"> E-Mail
         <br>
         <input type="email" name="email" placeholder="correo@gmail.com">
      </label>
      <br>
      <label class="labelClass"> Contraseña
         <br>
         <input type="password" name="password" placeholder="*****" minlength="6">
      </label>
      <br>
      <label class="labelClass">Subir foto de perfil
         <br>
         <input type="file" name="avatar" />
      </label>
      <br>

      <button class="btn btn-primary btn-xl rounded-pill mt-5" type="submit">Registrate!</button>
   </form>

   {{#if errorMessage}}
   {{errorMessage}}
   {{/if}}

</div>