<h1>Dra. Itzel Aguilar</h1>

<h2>"Comprometida con tu salud"</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aut nobis dolorem rerum inventore molestias tenetur, neque nesciunt illo culpa vitae quibusdam fugit quas reiciendis soluta at accusantium, dolore eveniet.</p>
{{#if isUser}}
<a href="/package/list"><button>Consulta nuestros paquetes</button></a>
<a href="/services"><button>Consulta nuestros servicios</button></a>
{{/if}}

{{#if isAdmin}}
<a href="/user/list"><button>Ve lista de usuarios</button></a>
{{/if}}