<header class="masthead text-center text-white">

    <div class="masthead-content">

        <div class="container px-5">          
            <h1 class="masthead-heading mb-0">Dra. Itzel Aguilar</h1>
            <h2 class="masthead-subheading mb-0">"Comprometida con tu salud"</h2>
            {{#unless isAdmin}}
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/package/list">Consulta nuestros paquetes</a>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/services">Consulta nuestros servicios</a>
            {{/unless}}
            {{#if isAdmin}}
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/user/list">Ve lista de usuarios</a>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/appointment/list">Ve todas las citas</a>
            {{/if}}
        </div>



        {{!-- <h1 class="titleDra">Dra. Itzel Aguilar</h1>

<h2>"Comprometida con tu salud"</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id aut nobis dolorem rerum inventore molestias tenetur, neque nesciunt illo culpa vitae quibusdam fugit quas reiciendis soluta at accusantium, dolore eveniet.</p>
{{#unless isAdmin}}
<a href="/package/list"><button>Consulta nuestros paquetes</button></a>
<a href="/services"><button>Consulta nuestros servicios</button></a>
{{/unless}}

{{#if isAdmin}}
<a href="/user/list"><button>Ve lista de usuarios</button></a>
{{/if}} --}}

</header>

