<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
          <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/services">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="/package/list">Paquetes</a></li>
                              {{#unless isAdmin}}
                        <li class="nav-item"><a class="nav-link" href="/new/appointment">Agendar Cita</a></li>
                              {{/unless}}
                        {{#if isLoggedIn}}
                        <img class="img-fluid2 rounded-circle" src="{{avatar}}" alt="avatar">
                        <li class="nav-item"><a class="nav-link" href="/user">{{username}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/logout">Salir</a></li>
                        {{/if}}
                        {{#unless isLoggedIn}}
                        <li class="nav-item"><a class="nav-link" href="/auth/login">Iniciar Sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="/auth/signup">Registrate!</a></li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
        </nav>

  {{{body}}}
        <footer class="py-5">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Erick y Melu</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="/js/script.js"></script>
</body>

</html>