<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <nav>
      <a href="/">Home</a>
      <a href="/services">Consultas</a>
      <a href="/package/list">Paquetes</a>
      <a href="/new/appointment">Agendar Cita</a>
      <a href="/auth/logout">Logout</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Registrate!</a>
    </nav>

  <header>

  </header>


  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>