<h1>Crear un Servicio</h1>

<form action="/new/service" method="POST">

    <label> Nombre:
        <input type="text" name="name">
    </label>
    <label> Descripción:
        <input type="text" name="details">
    </label>
    <label> Precio:
        <input type="text" name="price">
    </label>
    <button type="submit">Crear</button>

</form>