<h1>Lista de Consultas</h1>

{{#each services}}
    <h2>{{name}}</h2>
    <a href="/services/{{id}}">Detalles</a>

    {{#if ../isAdmin}}
    <a href="/services/{{id}}/edit">Editar</a>
    {{/if}}

{{/each}}

<hr>
{{#if isAdmin}}
<button><a href="/new/service">Crear Consulta</a></button>
{{/if}}