<div class="p-5 text-center">
    <h2>Crear un Servicio</h2>

    <form class="form-control" action="/new/service" method="POST">

        <label class="labelClass"> Nombre:
            <br>
            <input type="text" name="name">
        </label>
        <br>
        <label class="labelClass"> Descripción:
            <br>
            <input type="text" name="details">
        </label>
        <br>
        <label class="labelClass"> Precio:
            <br>
            <input type="text" name="price">
        </label>
        <br>
        <button class="btn btn-primary rounded-pill mt-5" type="submit">Crear servicio!</button>
    </form>
    <a class="btn btn-primary rounded-pill mt-3" href="/services">Regresar a la lista</a>
</div>