<div class="p-5">
    <h1>Lista de Servicios</h1>
    {{#each services}}
    <h2>{{name}}</h2>
    <a href="/services/{{id}}">Detalles</a>

    {{#if ../isAdmin}}
    <a href="/services/{{id}}/edit">Editar</a>
    {{/if}}

    <hr>

    {{/each}}

    {{#if isAdmin}}
    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/new/service">Crear un nuevo Servicio</a>
    {{/if}}
</div>