/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

footer{
  background-color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.subtitulos{
  font-size: 3em;
}

.p-principal{
  font-size: 2em;
}

.labelClass{
  font-size: 1.2em;
  font-weight: 400;
  padding: 1em;
}