<div class="p-5 text-center">
<h2>Agenda una Cita</h2>

<form class="form-control" action="/new/appointment" method="POST">
    <label class="labelClass">Fecha y hora:
<br>
        <input type="datetime-local" name="date" value="2022-05-04T09:00" min="2022-05-04T09:00" max="2022-06-04T17:00">
    </label>
<br>
    <label class="labelClass">
        Tipo de Consulta:
        <br>
        <select name="idService">
            {{#each services}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>
    <br>
    <button class="btn btn-primary rounded-pill mt-5" type="submit">Agendar</button>

</form>
</div>