
<h1>Agenda una Cita</h1>

<form action="/new/appointment" method="POST">


<label>Fecha y hora:

<input type="datetime-local"
       name="date" value="2022-05-04T09:00"
       min="2022-05-04T09:00" max="2022-06-04T17:00">

</label>

<label>
    Tipo de Consulta:
    <select name="idService">

        {{#each services}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}

    </select>
</label>
<button type="submit">Agendar</button>

</form>